DB_TYPE=better-sqlite3

DB_DATABASE=./db.sqlite

# ==========================
# Banco de Dados - PostgreSQL (futuro)
# ==========================
# Descomente e preencha os dados abaixo se quiser migrar para PostgreSQL
# DB_TYPE=postgres
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=meuuser
# DB_PASSWORD=senhasecreta
# DB_DATABASE=meubanco

DB_SYNCHRONIZE=1
DB_AUTO_LOAD_ENTITIES=1

JWT_SECRET=''

JWT_EXPIRATION='1d'

APP_PORT=3001

NODE_ENV='development'

CORS_WHITELIST='http://localhost:3000'